Repository sblask-webextensions/webextension-simple-form-fill: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tape, web-ext lint

eslint:
  name: eslint
  entry: eslint
  language: node
  additional_dependencies:
  - '@eslint/js@9.36.0'
  - '@stylistic/eslint-plugin@5.4.0'
  - eslint@9.36.0
  - globals@16.4.0

tape:
  name: tape
  entry: tape
  language: node
  additional_dependencies:
  - tape@5.9.0

web-ext lint:
  name: web-ext lint
  entry: web-ext lint
  language: node
  pass_filenames: false
  additional_dependencies:
  - web-ext@8.9.0

Fix option style
  options/options.css
Due: none

Tweak artifact name generation
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
Due: none

Tweak eslint config
  eslint.config.js
Due: eslint, web-ext lint

Improve autocomplete default style
  content-scripts/autocomplete.css
Due: none

Support context menu on file URLs
  background.js
Due: eslint, web-ext lint

Add tests
  .github/workflows/end-to-end.yml
  .gitignore
  README.md
  e2e/autocomplete.spec.js
  e2e/extension-fixtures.js
  e2e/insert-item.spec.js
  e2e/lifecycle.spec.js
  e2e/options.spec.js
  e2e/pages/dynamic.html
  e2e/pages/frames.html
  e2e/pages/input-types.html
  e2e/pages/static.html
  e2e/pages/styled.html
  e2e/server.js
  eslint.config.js
  package.json
  playwright.config.mjs
  test/background-context-menu.js
Due: eslint, tape, web-ext lint

Move to manifest v3 #major
  background.js
  content-scripts/autocomplete.css
  content-scripts/autocomplete.js
  content-scripts/checker.js
  content-scripts/insert-item.js
  manifest.json
Due: eslint, web-ext lint

Support arrow down instead of text input to trigger autocomplete
  content-scripts/autocomplete.js
  e2e/autocomplete.spec.js
Due: eslint, web-ext lint

Support strftime format codes in items #minor resolves #146
  background.js
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
  content-scripts/autocomplete.js
  e2e/autocomplete.spec.js
  options/options.css
  options/options.html
  test/background-context-menu.js
  test/util.js
  util.js
Due: eslint, tape, web-ext lint

Fix test in CI
  util.js
Due: eslint, web-ext lint

Update renovate config
  renovate.json
Due: none

Fix race condition on option page
  e2e/options.spec.js
  options/options.js
Due: eslint, web-ext lint

Add badges to README that link to extension page
  README.md
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  tape: any of: .*test.* and \.(js|mjs|cjs)$
  web-ext lint: any of: \.(js|mjs|cjs)$
