Repository sblask-webextensions/webextension-simple-form-fill: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, tape, web-ext lint

eslint:
  name: eslint
  entry: eslint
  language: node
  additional_dependencies:
  - '@eslint/js@8.54.0'
  - '@stylistic/eslint-plugin-js@1.4.0'
  - eslint@8.54.0
  - globals@13.23.0

tape:
  name: tape
  entry: tape
  language: node
  additional_dependencies:
  - tape@5.7.2

web-ext lint:
  name: web-ext lint
  entry: web-ext lint
  language: node
  pass_filenames: false
  additional_dependencies:
  - web-ext@7.8.0

refactor: cleanup package.json
  package.json
Due: none

test: configure default_install_hook_types
  .pre-commit-config.yaml
Due: none

ci: configure semantic release
  .github/workflows/release.yml
  .releaserc.json
  package.json
Due: none

chore: fix Github URL
  package.json
Due: none

ci: rename pre-commit workflow
  .github/workflows/pre-commit.yml
Due: none

chore: fix versions
  package.json
Due: none

chore: update globals package
  .pre-commit-config.yaml
  package.json
Due: none

chore: update web-ext
  package.json
Due: none

chore: update web-ext
  .pre-commit-config.yaml
  package.json
Due: none

chore: update actions/checkout action
  .github/workflows/pre-commit.yml
Due: none

chore: update eslint and fix ignores
  .pre-commit-config.yaml
  eslint.config.js
Due: eslint, web-ext lint

chore: update eslint and fix ignores
  .pre-commit-config.yaml
  eslint.config.js
  package.json
Due: eslint, web-ext lint

chore: update pre-commit hook @stylistic/eslint-plugin-js to v4
  .pre-commit-config.yaml
  package.json
Due: none

chore: update tape
  .pre-commit-config.yaml
  package.json
Due: none

chore: switch stylistic plugin and tweak config for eslint
  .pre-commit-config.yaml
  eslint.config.js
  package.json
Due: eslint, web-ext lint

chore: git-ignore .claude folder
  .gitignore
Due: none

Make automatic releases with semantic-release
  .github/workflows/pre-commit.yml
  .github/workflows/release-dry-run.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  .releaserc.json
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
  bin/svg-to-png.sh
  icons/icon-128x128.png
  icons/icon-16x16.png
  icons/icon-32x32.png
  icons/icon-48x48.png
  icons/icon-64x64.png
  icons/icon.svg
  manifest.json
  package.json
Due: none

chore: rename .agignore -> .rgignore
  .rgignore
Due: none

ci: add editorconfig check
  .editorconfig
  .pre-commit-config.yaml
  renovate.json
Due: none

chore: automerge eslint updates
  renovate.json
Due: none

chore: configure renovate to merge setup-python updates automatically
  renovate.json
Due: none

chore: add checkout to renovate config
  renovate.json
Due: none

chore: make proper releases
  .releaserc.json
Due: none

Fix eslint error
  content-scripts/autocomplete.js
Due: eslint, web-ext lint

Add tag workflow
  .github/workflows/tag.yml
Due: none

Switch from package.json scripts to standalone scripts
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
  bin/svg-to-png.sh
  icons/icon-128x128.png
  icons/icon-16x16.png
  icons/icon-32x32.png
  icons/icon-48x48.png
  icons/icon-64x64.png
  icons/icon.svg
  manifest.json
  package.json
Due: none

Switch to ubuntu-latest for tag workflow
  .github/workflows/tag.yml
Due: none

Add release workflows
  .github/workflows/release-chrome.yml
  .github/workflows/release-firefox.yml
  CHROME_EXTENSION_ID
Due: none

Add release workflow
  .github/actionlint.yaml
  .github/workflows/release-chrome.yml
  .github/workflows/release-firefox.yml
  .github/workflows/release.yml
  .github/workflows/tag.yml
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
Due: none

Modernize options CSS
  options/options.css
  options/options.html
Due: none

Update prepare-chrome.sh
  bin/prepare-chrome.sh
Due: none

Fix release workflow
  .github/workflows/release.yml
Due: none

Improve release workflow
  .github/workflows/release.yml
Due: none

Switch to type: module
  background.js
  eslint.config.js
  package.json
  test/test-util.js
  util.js
Due: eslint, tape, web-ext lint

Remove remaining polyfill references
  .pre-commit-config.yaml
  .rgignore
  background.js
  browser-polyfill.js
  manifest.json
Due: eslint, web-ext lint

Improve prepare scripts
  .editorconfig
  .pre-commit-config.yaml
  bin/prepare-chrome.sh
  bin/prepare-firefox.sh
Due: none

fix: V-001 security vulnerability
  background.js
Due: eslint, web-ext lint

Configure automatic formatting with eslint/stylistic
  .pre-commit-config.yaml
  background.js
  content-scripts/autocomplete.js
  content-scripts/checker.js
  eslint.config.js
  options/options.js
Due: eslint, web-ext lint

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$
  tape: any of: .*test.* and \.(js|mjs|cjs)$
  web-ext lint: any of: \.(js|mjs|cjs)$
